.bg {
    /* The image used */
    /* background-image: url("..."); */
    background-color: rgb(149, 165, 166);

    /* Full height */
    /* height: 100%; */

    /* Center and scale the image nicely */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

#main {
    background-color: white;
    margin: 20px auto;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.carousel-item img {
    display: block;
    margin: auto;
}

.carousel {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    width: 80%;
}

#logoImg {
    width: 40%;
    height: auto;
}

#contactInfo {
    float: right;
    line-height: 0;
    position: relative;
    margin-top: 5%;
}

#navbarRow {
    margin: 1em auto;
    background-color: rgb(149, 165, 166);
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

#navTitle {
    display: none;
}

li > a {
    color: black;
}

#logoRow {
    padding: 2em 2em 1em 2em;
}

#footerText {
    text-align: center;
    margin: auto;
    margin-bottom: 2em;
    width: 80%;
}

#footerLine {
    width: 70%;
}

.introText {
    font-weight: bold;
    text-align: center;
}

.mainText {
    width: 80%;
    margin: auto;
}

.sectionHeader {
    font-weight: bold;
}

#myMap {
    margin: auto auto 1em;
    display: block;
    width: 70%;
    height: 60%;
}

.floor {
    display: block;
    max-height: 700px;
    margin: auto;
}

.caption {
    text-align: center;
}

#floorPlans {
    margin-bottom: 2em;
}

#amenitiesCol {
    width: 80%;
    margin: auto;
}

@media screen and (max-width: 991px) {
    #navTitle {
        display: inline;
    }
    
    .carousel {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    #logoImg {
        width: 100%;
    }

    #contactInfo {
        line-height: normal;
        float: left;
    }
}